#root {
	max-width: 1280px;
	margin: 0 auto;
}

.fa-green {
	color: darkolivegreen;
}

.header--container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkolivegreen;
	color: cornsilk;
}

.header--title {
	padding-left: 0.5rem;
}
